# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Secrets
.env

# Données (ignorer tout le dossier data)
/data/

# Modèles : ignorer les fichiers lourds, mais garder les fichiers .dvc
/models/*.pt
/models/*.json

# MLflow
mlruns/
mlflow.db*

# Rapports générés
reports/figures/*.png
monitoring/*.html
monitoring/*.csv

# DVC cache
.dvc/cache/

# Système
.DS_Store
Thumbs.db

# VS Code
.vscode/
