# Python
.venv/
__pycache__/
*.pyc
.pytest_cache/

# Secrets
.env

# Données et modèles lourds A LA RACINE uniquement (gérés par DVC)
/data/
/models/

# MLflow
mlruns/
mlflow.db*

# Rapports générés
reports/figures/*.png
monitoring/*.html
monitoring/*.csv

# DVC cache
.dvc/cache/

# Système
.DS_Store
Thumbs.db

# VS Code
.vscode/
