torch
torchvision
numpy==1.26.4
scipy==1.12.0
pillow
pandas
scikit-learn
matplotlib
seaborn
pyyaml
tqdm
requests
fastapi
uvicorn[standard]
python-multipart
pydantic
mlflow
dvc
dvc-gdrive
evidently==0.4.25
pytest
pytest-cov
httpx
ruff
black
